.cabecera{
	padding:0.01em 16px;
	background-color: #FF5722;
	font-weight: bold;
}

.post{
	font-family: 'Segoe UI';
	background-color: #FF7043;
}

.center {
    width:304px;
    height:228px;
    margin-left: 30px;
}

.contenido{
	background-color: #FFAB91;
	color: #424242;
}

.h1{
	color: black;
}

.p{
	color: black;
}

.cajadetexto{
	width: 300px;
	height: 25px;
	background-color: #FFAB91;
	border: 1px transparent;
	color: #424242;
	margin-left: 20px;
}

.boton{
	background-color: #FFAB91;
	border-color: transparent;
	margin-top: 2px;
	margin-left: 20px;
}